/*** GLOBAL ***/

.input {
    outline: none;
}

/*** HEADER ***/

#header__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 40px;
    margin-left: 5%;
    grid-gap: 2em;
}

#header__title {
    margin-bottom: 17px;
    color: rgb(0, 174, 255);
    font-size: 45px;
}

#header__subText {
    color:rgb(94, 94, 94);
    font-size: 25px;
}

/* HEADER__quickFeedback */

#header__quickFeedback {
    border-radius: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2/3;
    margin: 4%;
    padding: 4%;
    grid-gap: 1em;
    font-size: 17px;
    background-color: rgb(240, 239, 239);
}

#header__quickFeedback__title {
    grid-column: 1/3;
    margin-bottom: 0%;
    margin-top: 0%;
    color: rgb(19, 81, 19);
    font-size: 30px;
}

.header__quickFeedback__div {
    padding: 1%;
}

.header__quickFeedback__text {
    margin-top: 0%;
}

.header__quickFeedback__btn {
    width: auto;
    border-radius: 25%;
    padding: 9px;
    outline: none;
}

/*** BODY GLOBAL ***/

#body__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4%;
    grid-gap: 2em;

}

.body__title {
    color: rgb(94, 2, 94);
}

.body__input:focus {
    border: 2px solid #888;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);

}

.body__btn {
    width:80px;
    margin: 10px;
    display: inline;
    background-color: rgb(70, 107, 35);
    color: ivory;
    border-radius: 15%;
    padding: 1%;
    outline: none;
} 

.body__btn:focus{
    background-color: rgb(107, 153, 65);
    border: 2px black;
}

.body__DD {
    display: none;
    position: absolute;
    background-color:rgb(234, 232, 232);
    min-width: 130px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
    text-align: left;
    margin-top: 15px;
  }

.body__item {
    padding: 10px;
    display: block;
    width: 300px;
}

.dropdown {
    display: inline;
}

.body__DD__element {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }


.body__DD__element:hover {
    background-color:rgb(212, 211, 211);
  }


.body__btn--done {
    background-color: rgb(199, 227, 228);
    margin: 2%;
}

/***  TODO SECTION ***/


/***  GOALS SECTION ***/


/***  NOTES SECTION ***/

/* NOTES__edit labels section */

.body__editLabel--note {
    display: none;
}

#editLabelLink--note {
border: 2px solid grey;
border-radius: 8px;
}


/* SHOW CLASS AT THE END BEACUSE IT HAS TO BE? */

.show {display: block;}
